
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Assets/User/Home/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Assets/User/Home/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/User/Home/css/datepicker.css" rel="stylesheet" />
    <link href="~/Assets/User/Home/css/fontAwesome.css" rel="stylesheet" />
    <link href="~/Assets/User/Home/css/hero-slider.css" rel="stylesheet" />
    <link href="~/Assets/User/Home/css/owl-carousel.css" rel="stylesheet" />
    <link href="~/Assets/User/Home/css/tooplate-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/Assets/User/Home/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <link href="~/Assets/User/Layout/Guest/css/style.css" rel="stylesheet" />
</head>
<body>
    <div id="colorlib-page">
        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
        <aside id="colorlib-aside" role="complementary" class="js-fullheight">
            <nav id="colorlib-main-menu" role="navigation">
                <ul style=" text-align: center">
                    <li class="colorlib-active"><a href="#">Home</a></li>
                    <li><a href="#">Project</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div style="position: absolute; bottom:100px ;border : 1px Black ;margin-left: 20px">                    
                        @Html.Partial("_LoginPartial")                    
                </div>
            </nav>
        </aside> <!-- END COLORLIB-ASIDE -->

        <div id="colorlib-main">
            <section class="ftco-section pt-4 mb-5 ftco-intro">
                <div class="container-fluid px-3 px-md-0">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <section class="banner" id="top">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="left-side">
                                                <div class="logo">
                                                    <img src="~/Assets/Guest/Home/img/logo.png" alt="Flight Template">
                                                </div>
                                                <div class="tabs-content">
                                                    <h4>Choose Your Direction:</h4>
                                                    <ul class="social-links">
                                                        <li><a href="https://www.facebook.com/Share-Source-Code-Website-189970988225280/">Find us on <em>Facebook</em><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                                        <li><a href="http://youtube.com/">Our <em>YouTube</em> Channel<i class="fa fa-youtube"></i></a></li>
                                                        <li><a href="http://instagram.com/">Follow our <em>instagram</em><i class="fa fa-instagram"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="page-direction-button">
                                                    <a href="Contact.cshtml"><i class="fa fa-phone"></i>Contact Us Now</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-5 col-md-offset-1">
                                            @RenderBody()
                                        </div>

                                        @*<div class="col-md-5 col-md-offset-1">
                                            <section id="first-tab-group" class="tabgroup">
                                                <div id="tab1">
                                                    <div class="submit-form">
                                                        <h4>Check availability for <em>direction</em>:</h4>
                                                        <form id="form-submit" action="#" method="get">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <fieldset>
                                                                        <label for="from">From:</label>
                                                                        <select required name='from' onchange='this.form.()'>
                                                                            <option value="">Select a location...</option>

                                                                        </select>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <fieldset>
                                                                        <label for="to">To:</label>
                                                                        <select required name='to' onchange='this.form.()'>
                                                                            <option value="">Select a location...</option>

                                                                        </select>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <fieldset>
                                                                        <label for="departure">Departure date:</label>
                                                                        <input name="deparure" type="text" class="form-control date" id="deparure" placeholder="Select date..." required="" onchange='this.form.()'>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <fieldset>
                                                                        <label for="return">Return date:</label>
                                                                        <input name="return" type="text" class="form-control date" id="return" placeholder="Select date..." required="" onchange='this.form.()'>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="radio-select">
                                                                        <div class="row">
                                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                                <label for="round">Round</label>
                                                                                <input type="radio" name="trip" id="round" value="round" required="required" onchange='this.form.()'>
                                                                            </div>
                                                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                                                <label for="oneway">Oneway</label>
                                                                                <input type="radio" name="trip" id="oneway" value="one-way" required="required" onchange='this.form.()'>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <fieldset>
                                                                        <button type="submit" id="form-submit" class="btn">Order Ticket Now</button>
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>*@

                                    </div>
                                </div>
                            </section>



                            <div class="tabs-content" id="weather">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="section-heading">
                                                <h2>Check Weather For 5 NEXT Days</h2>
                                            </div>
                                        </div>
                                        <div class="wrapper">
                                            <div class="col-md-12">
                                                <div class="weather-content">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <ul class="tabs clearfix" data-tabgroup="second-tab-group">
                                                                <li><a href="#monday" class="active">Monday</a></li>
                                                                <li><a href="#tuesday">Tuesday</a></li>
                                                                <li><a href="#wednesday">Wednesday</a></li>
                                                                <li><a href="#thursday">Thursday</a></li>
                                                                <li><a href="#friday">Friday</a></li>

                                                            </ul>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <section id="second-tab-group" class="weathergroup">
                                                                <div id="monday">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="weather-item">
                                                                                <h6>Da Nang</h6>
                                                                                <div class="weather-icon">
                                                                                    <img src="img/weather-icon-03.png" alt="">
                                                                                </div>
                                                                                <span>32&deg;C</span>
                                                                                <ul class="time-weather">
                                                                                    <li>6AM <span>26&deg;</span></li>
                                                                                    <li>12PM <span>32&deg;</span></li>
                                                                                    <li>6PM <span>28&deg;</span></li>
                                                                                    <li>12AM <span>22&deg;</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="weather-item">
                                                                                <h6>Ha Noi</h6>
                                                                                <div class="weather-icon">
                                                                                    <img src="img/weather-icon-02.png" alt="">
                                                                                </div>
                                                                                <span>28&deg;C</span>
                                                                                <ul class="time-weather">
                                                                                    <li>6AM <span>20&deg;</span></li>
                                                                                    <li>12PM <span>28&deg;</span></li>
                                                                                    <li>6PM <span>26&deg;</span></li>
                                                                                    <li>12AM <span>18&deg;</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="weather-item">
                                                                                <h6>Tp Ho Chi Minh</h6>
                                                                                <div class="weather-icon">
                                                                                    <img src="img/weather-icon-01.png" alt="">
                                                                                </div>
                                                                                <span>33&deg;C</span>
                                                                                <ul class="time-weather">
                                                                                    <li>6AM <span>26&deg;</span></li>
                                                                                    <li>12PM <span>33&deg;</span></li>
                                                                                    <li>6PM <span>29&deg;</span></li>
                                                                                    <li>12AM <span>27&deg;</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="tuesday">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="weather-item">
                                                                                <h6>Da Nang</h6>
                                                                                <div class="weather-icon">
                                                                                    <img src="img/weather-icon-02.png" alt="">
                                                                                </div>
                                                                                <span>28&deg;C</span>
                                                                                <ul class="time-weather">
                                                                                    <li>6AM <span>18&deg;</span></li>
                                                                                    <li>12PM <span>27&deg;</span></li>
                                                                                    <li>6PM <span>25&deg;</span></li>
                                                                                    <li>12AM <span>17&deg;</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="weather-item">
                                                                                <h6>Ha Noi</h6>
                                                                                <div class="weather-icon">
                                                                                    <img src="img/weather-icon-03.png" alt="">
                                                                                </div>
                                                                                <span>31&deg;C</span>
                                                                                <ul class="time-weather">
                                                                                    <li>6AM <span>19&deg;</span></li>
                                                                                    <li>12PM <span>28&deg;</span></li>
                                                                                    <li>6PM <span>22&deg;</span></li>
                                                                                    <li>12AM <span>18&deg;</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="weather-item">
                                                                                <h6>Tp Ho Chi Minh</h6>
                                                                                <div class="weather-icon">
                                                                                    <img src="img/weather-icon-01.png" alt="">
                                                                                </div>
                                                                                <span>26&deg;C</span>
                                                                                <ul class="time-weather">
                                                                                    <li>6AM <span>19&deg;</span></li>
                                                                                    <li>12PM <span>26&deg;</span></li>
                                                                                    <li>6PM <span>22&deg;</span></li>
                                                                                    <li>12AM <span>20&deg;</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="wednesday">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="weather-item">
                                                                                <h6>Da Nang</h6>
                                                                                <div class="weather-icon">
                                                                                    <img src="img/weather-icon-03.png" alt="">
                                                                                </div>
                                                                                <span>31&deg;C</span>
                                                                                <ul class="time-weather">
                                                                                    <li>6AM <span>19&deg;</span></li>
                                                                                    <li>12PM <span>28&deg;</span></li>
                                                                                    <li>6PM <span>22&deg;</span></li>
                                                                                    <li>12AM <span>18&deg;</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="weather-item">
                                                                                <h6>Ha Noi</h6>
                                                                                <div class="weather-icon">
                                                                                    <img src="img/weather-icon-01.png" alt="">
                                                                                </div>
                                                                                <span>34&deg;C</span>
                                                                                <ul class="time-weather">
                                                                                    <li>6AM <span>28&deg;</span></li>
                                                                                    <li>12PM <span>34&deg;</span></li>
                                                                                    <li>6PM <span>30&deg;</span></li>
                                                                                    <li>12AM <span>29&deg;</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="weather-item">
                                                                                <h6>Tp Ho Chi Minh</h6>
                                                                                <div class="weather-icon">
                                                                                    <img src="img/weather-icon-02.png" alt="">
                                                                                </div>
                                                                                <span>28&deg;C</span>
                                                                                <ul class="time-weather">
                                                                                    <li>6AM <span>18&deg;</span></li>
                                                                                    <li>12PM <span>27&deg;</span></li>
                                                                                    <li>6PM <span>25&deg;</span></li>
                                                                                    <li>12AM <span>17&deg;</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="thursday">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="weather-item">
                                                                                <h6>Myanmar</h6>
                                                                                <div class="weather-icon">
                                                                                    <img src="img/weather-icon-01.png" alt="">
                                                                                </div>
                                                                                <span>27&deg;C</span>
                                                                                <ul class="time-weather">
                                                                                    <li>6AM <span>21&deg;</span></li>
                                                                                    <li>12PM <span>27&deg;</span></li>
                                                                                    <li>6PM <span>22&deg;</span></li>
                                                                                    <li>12AM <span>18&deg;</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="weather-item">
                                                                                <h6>Thailand</h6>
                                                                                <div class="weather-icon">
                                                                                    <img src="img/weather-icon-02.png" alt="">
                                                                                </div>
                                                                                <span>28&deg;C</span>
                                                                                <ul class="time-weather">
                                                                                    <li>6AM <span>18&deg;</span></li>
                                                                                    <li>12PM <span>27&deg;</span></li>
                                                                                    <li>6PM <span>25&deg;</span></li>
                                                                                    <li>12AM <span>17&deg;</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="weather-item">
                                                                                <h6>India</h6>
                                                                                <div class="weather-icon">
                                                                                    <img src="img/weather-icon-03.png" alt="">
                                                                                </div>
                                                                                <span>31&deg;C</span>
                                                                                <ul class="time-weather">
                                                                                    <li>6AM <span>19&deg;</span></li>
                                                                                    <li>12PM <span>28&deg;</span></li>
                                                                                    <li>6PM <span>22&deg;</span></li>
                                                                                    <li>12AM <span>18&deg;</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="friday">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="weather-item">
                                                                                <h6>Myanmar</h6>
                                                                                <div class="weather-icon">
                                                                                    <img src="img/weather-icon-03.png" alt="">
                                                                                </div>
                                                                                <span>33&deg;C</span>
                                                                                <ul class="time-weather">
                                                                                    <li>6AM <span>28&deg;</span></li>
                                                                                    <li>12PM <span>33&deg;</span></li>
                                                                                    <li>6PM <span>29&deg;</span></li>
                                                                                    <li>12AM <span>27&deg;</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="weather-item">
                                                                                <h6>Thailand</h6>
                                                                                <div class="weather-icon">
                                                                                    <img src="img/weather-icon-02.png" alt="">
                                                                                </div>
                                                                                <span>31&deg;C</span>
                                                                                <ul class="time-weather">
                                                                                    <li>6AM <span>24&deg;</span></li>
                                                                                    <li>12PM <span>31&deg;</span></li>
                                                                                    <li>6PM <span>26&deg;</span></li>
                                                                                    <li>12AM <span>23&deg;</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="weather-item">
                                                                                <h6>India</h6>
                                                                                <div class="weather-icon">
                                                                                    <img src="img/weather-icon-01.png" alt="">
                                                                                </div>
                                                                                <span>28&deg;C</span>
                                                                                <ul class="time-weather">
                                                                                    <li>6AM <span>24&deg;</span></li>
                                                                                    <li>12PM <span>28&deg;</span></li>
                                                                                    <li>6PM <span>26&deg;</span></li>
                                                                                    <li>12AM <span>22&deg;</span></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <section class="services">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="service-item first-service">
                                                <div class="service-icon"></div>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="service-item second-service">
                                                <div class="service-icon"></div>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="service-item third-service">
                                                <div class="service-icon"></div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </section>
                            <section class="services">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="service-item first-service">
                                                <div class="service-icon"></div>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="service-item second-service">
                                                <div class="service-icon"></div>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="service-item third-service">
                                                <div class="service-icon"></div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </section>
                            <section class="services">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="service-item first-service">
                                                <div class="service-icon"></div>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="service-item second-service">
                                                <div class="service-icon"></div>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="service-item third-service">
                                                <div class="service-icon"></div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </section>
                            <section class="services">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="service-item first-service">
                                                <div class="service-icon"></div>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="service-item second-service">
                                                <div class="service-icon"></div>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="service-item third-service">
                                                <div class="service-icon"></div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </section>


                            <section>
                                <div class="  ">

                                </div>
                            </section>





                            <section id="most-visited">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="section-heading">
                                                <h2>Most Visited Places</h2>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div id="owl-mostvisited" class="owl-carousel owl-theme">
                                                <div class="item col-md-12">
                                                    <div class="visited-item">
                                                        <img src="~/Assets/Guest/Home/img/4.png" />
                                                        <div class="text-content">
                                                            <h4>BaNa Hills</h4>
                                                            <span>Da Nang</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item col-md-12">
                                                    <div class="visited-item">
                                                        <img src="~/Assets/Guest/Home/img/5.png" />
                                                        <div class="text-content">
                                                            <h4>Ancient city of Hanoi</h4>
                                                            <span>Ha Noi</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item col-md-12">
                                                    <div class="visited-item">
                                                        <img src="~/Assets/Guest/Home/img/3.png" />
                                                        <div class="text-content">
                                                            <h4>Muong Hoa valley</h4>
                                                            <span>Sapa</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item col-md-12">
                                                    <div class="visited-item">
                                                        <img src="~/Assets/Guest/Home/img/7.png" />
                                                        <div class="text-content">
                                                            <h4>Ma Pi Leng Pass</h4>
                                                            <span>Ha Giang </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item col-md-12">
                                                    <div class="visited-item">
                                                        <img src="~/Assets/Guest/Home/img/6.png" />
                                                        <div class="text-content">
                                                            <h4>Trang An eco-tourism area</h4>
                                                            <span>Ninh Binh</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item col-md-12">
                                                    <div class="visited-item">
                                                        <img src="~/Assets/Guest/Home/img/8.png" />
                                                        <div class="text-content">
                                                            <h4>Ha Long Bay</h4>
                                                            <span>Quang Ninh</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item col-md-12">
                                                    <div class="visited-item">
                                                        <img src="~/Assets/Guest/Home/img/9.png" />
                                                        <div class="text-content">
                                                            <h4>Phong Nha - ke Bang</h4>
                                                            <span>Quang Binh</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item col-md-12">
                                                    <div class="visited-item">
                                                        <img src="~/Assets/Guest/Home/img/10.png" />
                                                        <div class="text-content">
                                                            <h4>Hoi An</h4>
                                                            <span>Quang Nam</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item col-md-12">
                                                    <div class="visited-item">
                                                        <img src="~/Assets/Guest/Home/img/2.png" />
                                                        <div class="text-content">
                                                            <h4>Mui Ne</h4>
                                                            <span>Phan Thiet</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item col-md-12">
                                                    <div class="visited-item">
                                                        <img src="~/Assets/Guest/Home/img/1.png" />
                                                        <div class="text-content">
                                                            <h4>Da Lat</h4>
                                                            <span>Lam Dong</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>



                            <footer>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="primary-button">
                                                <a href="#" class="scroll-top">Back To Top</a>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <ul class="social-icons">
                                                <li><a href="https://www.facebook.com/Share-Source-Code-Website-189970988225280/"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12">
                                            <p>Copyright &copy; 2018 Flight Tour and Travel Company</p>
                                        </div>
                                    </div>
                                </div>
                            </footer>





                            <script src="../../../ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


                            <script src="~/Assets/User/Home/js/vendor/bootstrap.min.js"></script>
                            <script src="~/Assets/User/Home/js/vendor/jquery-1.11.2.min.js"></script>
                            <script src="~/Assets/User/Home/js/datepicker.js"></script>
                            <script src="~/Assets/User/Home/js/main.js"></script>
                            <script src="~/Assets/User/Home/js/plugins.js"></script>


                            <script src="../../../ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
                            <script type="text/javascript">
                                $(document).ready(function () {



                                    // navigation click actions
                                    $('.scroll-link').on('click', function (event) {
                                        event.preventDefault();
                                        var sectionID = $(this).attr("data-id");
                                        scrollToID('#' + sectionID, 750);
                                    });
                                    // scroll to top action
                                    $('.scroll-top').on('click', function (event) {
                                        event.preventDefault();
                                        $('html, body').animate({ scrollTop: 0 }, 'slow');
                                    });
                                    // mobile nav toggle
                                    $('#nav-toggle').on('click', function (event) {
                                        event.preventDefault();
                                        $('#main-nav').toggleClass("open");
                                    });
                                });
                                // scroll function
                                function scrollToID(id, speed) {
                                    var offSet = 0;
                                    var targetOffset = $(id).offset().top - offSet;
                                    var mainNav = $('#main-nav');
                                    $('html,body').animate({ scrollTop: targetOffset }, speed);
                                    if (mainNav.hasClass("open")) {
                                        mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                                        mainNav.removeClass("open");
                                    }
                                }
                                if (typeof console === "undefined") {
                                    console = {
                                        log: function () { }
                                    };
                                }
                            </script>
                        </div>

                    </div>
                </div>
            </section>
        </div><!-- END COLORLIB-MAIN -->
    </div><!-- END COLORLIB-PAGE -->
    </section>
    <script src="~/Assets/User/Layout/Guest/js/popper.js"></script>
    <script src="~/Assets/User/Layout/Guest/js/main.js"></script>
    <script src="~/Assets/User/Layout/Guest/js/jquery.min.js"></script>
    <script src="~/Assets/User/Layout/Guest/js/bootstrap.min.js"></script>
</body>
</html>

