
@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. Now you can create user Role and manage Flights here.</h1>
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
        <li>@Html.ActionLink("Manage Flight", "Index", "Flight")</li>
    </h3>

}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) Please select your</h2>
}

